{% extends "registerbase.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Account Created</h1>
      <p class="lead">Email sent to the e-mail you provided. Check your inbox and tap on the link to be activated.</p>
      
    </div>
</main>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
	var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/642e1c784247f20fefea12dc/1gta1uec9';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
	</script>
	<!--End of Tawk.to Script-->
{% endblock %}