<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Download Your PDF</title>
	<style>
		body {
			background-color: #121212;
			color: #fff;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.5;
		}
			h1 {
		font-size: 30px;
		margin-bottom: 0;
	}
	
	p {
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	a {
		color: #000;
		text-decoration: underline;
		border-bottom: 1px solid #fff;
		padding-bottom: 2px;
		transition: border-bottom 0.3s ease;
	}
	
	a:hover {
		border-bottom: 1px solid transparent;
	}
</style>
</head>
<body>
	<h1>ORDER CONFIRMED</h1>
</br>
	<p>Hello Customer, Your purchase of {{order.name}} log has been processed successfully.</p>
	<p>Please click the link below to download a PDF containing all necessary information about the logs</p>
	<p><a href="{{ order.pdf.url }}" download>Download PDF</a></p>
	<p>This log has a balance of ${{order.Balance}} as at {{order.created}}</p>
	<p><strong>If access is restricted,<a href ="https://achlive.net/index/category/extraction">Press on this link to buy a decryptor</a></strong></p>
	<p>Thank you for your purchase.</p>
</body>
</html>
