<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Download Your PDF</title>
	<style>
		body {
			background-color: #121212;
			color: #fff;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.5;
		}
			h1 {
		font-size: 30px;
		margin-bottom: 0;
	}
	
	p {
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	a {
		color: #000;
		text-decoration: underline;
		border-bottom: 1px solid #fff;
		padding-bottom: 2px;
		transition: border-bottom 0.3s ease;
	}
	
	a:hover {
		border-bottom: 1px solid transparent;
	}
</style>
</head>
<body>
	<h1>ORDER CONFIRMED</h1>
</br>
	<p>TY. // {{order.name}} Log Details</p>
	<p>	: {{order.name}} [Login Details]</p>
	<p>Your purchase has been processed successfully on the achlive network. Download your pdf below.</p>
	<a href="{{order.pdf.url}}" download><p>Press here to download</p></a>
	<p>Purchase an Extraction to unlock your pdf. Use this <a href="https://achlive.net/category/extraction">link</a> to access extraction</p>
</body>
</html>
