<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Download Your PDF</title>
	<style>
		body {
			background-color: #121212;
			color: #fff;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.5;
		}
			h1 {
		font-size: 30px;
		margin-bottom: 0;
	}
	
	p {
		margin-top: 0;
		margin-bottom: 20px;
	}
	
	a {
		color: #000;
		text-decoration: underline;
		border-bottom: 1px solid #fff;
		padding-bottom: 2px;
		transition: border-bottom 0.3s ease;
	}
	
	a:hover {
		border-bottom: 1px solid transparent;
	}
</style>
</head>
<body>
	<h1>ORDER CONFIRMED</h1>
</br>
	<p>TY. // {{order.name}} Log Details</p>
	<p>	: {{order.name}} [Login Details]</p>
	<p>	UserID: carinabuzz06</p>
	<p>	Password : CBuzzanga06</p>
		<p>	--</p>
			<p>	--INFOIIP - -</p>
				<p>	IP Address : 172.56.22.6</p>
					<p>	:: {{oreder.name}} Info [Security Questions]</p>
						<p>	Security Question 1: What is your father's middle name?</p>
							<p>	Answer 1: Allen</p>
								<p>	Security Question 2 : What is the first name of your oldest niece?</p>
									<p>	Answer 2 : Catherine</p>
										<p>	Security Question 3 : In what city were you born? (Enter full name of city only)</p>
											<p>	Answer 3 : Boston</p>
		<p>	- INFOIIP -.</p>
			<p>	IP Address : 172.58.217.98</p>
	
</body>
</html>
